.container{
    display: inline-grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows:80px 80px 80px 80px 80px 80px 80px 80px;
    background-color: #7a7785;
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

/* colors: b2e2fa, 7a7785,6eca97, fff7bb */

/* maybe colors: 8c99e5 */

.characterContainer{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    background-color: #7a7785;
    gap: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

img{
    width: 60px;
}

body{
    display: flex;
    flex-direction: row;
    background-color: #6eca97;;
    justify-content: center;
}

button{
    background-color: #fffbf7;
    border: #7a7785 solid 1px;
}

.head{
    grid-column: 1 / span 3;
}